.form-group{
  position: relative;
}

.alert{
  position: absolute;
  right: -210px;
  top: -8px;
  width: 200px;
  cursor: pointer;
}

 .info{
   margin-top: 100px;
 }

.form, .info{
  margin: 100px auto;
  width: 50%;
}
ul{
  list-style-type: none;
}

h1{
  margin-bottom: 20px
}

.btn-container{
  display: flex;
  justify-content: flex-end;
}
